.SearchForm{
    display: block;   
    text-align: center;
    
}
.currentTemperature {
    margin-top: 25px;
  }
  
  h1,
  h2,
  h3 {
    color: #44558f;
    font-family: "DynaPuff", cursive;
  }
  #current-temperature {
    font-size: 45px;
  }
  .units {
    font-size: 18px;
    position: relative;
    top: -17px;
  }